In [5]:

#: SQL Queries on Cleaned Data

import pandas as pd
import sqlite3

# Connect to the cleaned SQLite DB
conn = sqlite3.connect("sales.db")

# Top 10 Postal Codes by Total Sales
query_postal_sales = """
SELECT postal_code,
       COUNT(*) AS num_orders,
       SUM(sales) AS total_sales,
       AVG(sales) AS avg_sales
FROM sales
GROUP BY postal_code
ORDER BY total_sales DESC
LIMIT 10;
"""
top_postal_sales = pd.read_sql(query_postal_sales, conn)
print("Top 10 Postal Codes by Total Sales:")
print(top_postal_sales, "\n")

Top 10 Postal Codes by Total Sales:
  postal_code  num_orders  total_sales   avg_sales
0     10024.0         225    78534.044  349.040196
1     10035.0         253    75151.829  297.042802
2     10009.0         220    53225.076  241.932164
3     94122.0         195    49114.375  251.868590
4     10011.0         193    45551.598  236.018642
5     98105.0         165    41838.008  253.563685
6     98115.0         112    41160.908  367.508107
7     19134.0         160    39390.293  246.189331
8     32216.0          75    39133.328  521.777707
9     90049.0         150    37889.924  252.599493

In [6]:
# Sales by Category
query_category_sales = """
SELECT category,
       SUM(sales) AS total_sales,
       AVG(sales) AS avg_sales_per_order,
       COUNT(*) AS num_orders
FROM sales
GROUP BY category
ORDER BY total_sales DESC;
"""
category_sales = pd.read_sql(query_category_sales, conn)
print("Sales by Category:")
print(category_sales, "\n")

Sales by Category:
          category  total_sales  avg_sales_per_order  num_orders
0       Technology  827455.8730           456.401474        1813
1        Furniture  728658.5757           350.653790        2078
2  Office Supplies  705422.3340           119.381001        5909

In [7]:
# Sales by Sub-Category
query_subcategory_sales = """
SELECT sub_category,
       SUM(sales) AS total_sales,
       AVG(sales) AS avg_sales_per_order,
       COUNT(*) AS num_orders
FROM sales
GROUP BY sub_category
ORDER BY total_sales DESC;
"""
subcategory_sales = pd.read_sql(query_subcategory_sales, conn)
print("Sales by Sub-Category:")
print(subcategory_sales, "\n")

Sales by Sub-Category:
   sub_category  total_sales  avg_sales_per_order  num_orders
0        Phones  327782.4480           374.180877         876
1        Chairs  322822.7310           531.833165         607
2       Storage  219343.3920           263.633885         832
3        Tables  202810.6280           645.893720         314
4       Binders  200028.7850           134.067550        1492
5      Machines  189238.6310          1645.553313         115
6   Accessories  164186.7000           217.178175         756
7       Copiers  146248.0940          2215.880212          66
8     Bookcases  113813.1987           503.598224         226
9    Appliances  104618.4030           227.926804         459
10  Furnishings   89212.0180            95.823865         931
11        Paper   76828.3040            57.420257        1338
12     Supplies   46420.3080           252.284283         184
13          Art   26705.4100            34.019631         785
14    Envelopes   16128.0460            65.032444         248
15       Labels   12347.7260            34.587468         357
16    Fasteners    3001.9600            14.027850         214

In [8]:
# Top 10 Products by Sales
query_top_products = """
SELECT product_name,
       SUM(sales) AS total_sales,
       COUNT(*) AS num_orders,
       AVG(sales) AS avg_sales_per_order
FROM sales
GROUP BY product_name
ORDER BY total_sales DESC
LIMIT 10;
"""
top_products = pd.read_sql(query_top_products, conn)
print("Top 10 Products by Sales:")
print(top_products, "\n")

Top 10 Products by Sales:
                                        product_name  total_sales  num_orders  \
0              Canon imageCLASS 2200 Advanced Copier    61599.824           5
1  Fellowes PB500 Electric Punch Plastic Comb Bin...    27453.384          10
2  Cisco TelePresence System EX90 Videoconferenci...    22638.480           1
3       HON 5400 Series Task Chairs for Big and Tall    21870.576           8
4         GBC DocuBind TL300 Electric Binding System    19823.479          11
5   GBC Ibimaster 500 Manual ProClick Binding System    19024.500           9
6               Hewlett Packard LaserJet 3310 Copier    18839.686           8
7  HP Designjet T520 Inkjet Large Format Printer ...    18374.895           3
8          GBC DocuBind P400 Electric Binding System    17965.068           6
9        High Speed Automatic Electric Letter Opener    17030.312           3

   avg_sales_per_order
0         12319.964800
1          2745.338400
2         22638.480000
3          2733.822000
4          1802.134455
5          2113.833333
6          2354.960750
7          6124.965000
8          2994.178000
9          5676.770667

In [9]:
# Top 10 Customers by Sales
query_top_customers = """
SELECT customer_name,
       SUM(sales) AS total_sales,
       COUNT(*) AS num_orders,
       AVG(sales) AS avg_sales_per_order
FROM sales
GROUP BY customer_name
ORDER BY total_sales DESC
LIMIT 10;
"""
top_customers = pd.read_sql(query_top_customers, conn)
print("Top 10 Customers by Sales:")
print(top_customers, "\n")

Top 10 Customers by Sales:
        customer_name  total_sales  num_orders  avg_sales_per_order
0         Sean Miller    25043.050          15          1669.536667
1        Tamara Chand    19052.218          12          1587.684833
2        Raymond Buch    15117.339          18           839.852167
3        Tom Ashbrook    14595.620          10          1459.562000
4       Adrian Barton    14473.571          20           723.678550
5        Ken Lonsdale    14175.229          29           488.801000
6        Sanjit Chand    14142.334          22           642.833364
7        Hunter Lopez    12873.298          11          1170.299818
8        Sanjit Engle    12209.438          19           642.602000
9  Christopher Conant    12129.072          11          1102.642909

In [10]:
# Sales by Segment
query_segment_sales = """
SELECT segment,
       SUM(sales) AS total_sales,
       AVG(sales) AS avg_sales
FROM sales
GROUP BY segment
ORDER BY total_sales DESC;
"""
segment_sales = pd.read_sql(query_segment_sales, conn)
print("Sales by Segment:")
print(segment_sales, "\n")

Sales by Segment:
       segment   total_sales   avg_sales
0     Consumer  1.148061e+06  225.065777
1    Corporate  6.884941e+05  233.150720
2  Home Office  4.249822e+05  243.403309

In [11]:
# Sales by Region and State
query_region_sales = """
SELECT region, SUM(sales) AS total_sales
FROM sales
GROUP BY region
ORDER BY total_sales DESC;
"""
region_sales = pd.read_sql(query_region_sales, conn)

query_state_sales = """
SELECT state, SUM(sales) AS total_sales
FROM sales
GROUP BY state
ORDER BY total_sales DESC;
"""
state_sales = pd.read_sql(query_state_sales, conn)

print("Sales by Region:")
print(region_sales, "\n")
print("Sales by State:")
print(state_sales, "\n")

Sales by Region:
    region  total_sales
0     West  710219.6845
1     East  669518.7260
2  Central  492646.9132
3    South  389151.4590

Sales by State:
                   state  total_sales
0             California  446306.4635
1               New York  306361.1470
2                  Texas  168572.5322
3             Washington  135206.8500
4           Pennsylvania  116276.6500
5                Florida   88436.5320
6               Illinois   79236.5170
7               Michigan   76136.0740
8                   Ohio   75130.3500
9               Virginia   70636.7200
10        North Carolina   55165.9640
11               Indiana   48718.4000
12               Georgia   48219.1100
13              Kentucky   36458.3900
14               Arizona   35272.6570
15            New Jersey   34610.9720
16              Colorado   31841.5980
17             Wisconsin   31173.4300
18             Tennessee   30661.8730
19             Minnesota   29863.1500
20         Massachusetts   28634.4340
21              Delaware   27322.9990
22              Maryland   23705.5230
23          Rhode Island   22525.0260
24              Missouri   22205.1500
25              Oklahoma   19683.3900
26               Alabama   19510.6400
27                Oregon   17284.4620
28                Nevada   16729.1020
29           Connecticut   13384.3570
30              Arkansas   11678.1300
31                  Utah   11220.0560
32           Mississippi   10771.3400
33             Louisiana    9131.0500
34               Vermont    8929.3700
35        South Carolina    8481.7100
36              Nebraska    7464.9300
37         New Hampshire    7292.5240
38               Montana    5589.3520
39            New Mexico    4783.5220
40                  Iowa    4443.5600
41                 Idaho    4382.4860
42                Kansas    2914.3100
43  District of Columbia    2865.0200
44               Wyoming    1603.1360
45          South Dakota    1315.5600
46                 Maine    1270.5300
47         West Virginia    1209.8240
48          North Dakota     919.9100

In [12]:
# Sales by Ship Mode
query_shipmode_sales = """
SELECT ship_mode,
       SUM(sales) AS total_sales,
       COUNT(*) AS num_orders
FROM sales
GROUP BY ship_mode
ORDER BY total_sales DESC;
"""
shipmode_sales = pd.read_sql(query_shipmode_sales, conn)
print("Sales by Ship Mode:")
print(shipmode_sales, "\n")



print("✅ All SQL queries executed successfully!")

Sales by Ship Mode:
        ship_mode   total_sales  num_orders
0  Standard Class  1.340831e+06        5859
1    Second Class  4.499142e+05        1902
2     First Class  3.455723e+05        1501
3        Same Day  1.252190e+05         538

✅ All SQL queries executed successfully!